@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Red Hat Mono', 'Courier New', Courier, monospace;
    color: #2E2F30;
    overflow-x: hidden;
}

/* #fade {
    position: absolute;
    width: 100px;
    height: 100px;
    background: linear-gradient(to top, transparent 0%, black 100%);
    opacity: 0.2;
    top: 0;
    left: 0;
    width: 100%;
} */

#title {
    max-width: fit-content;
    max-width: -moz-fit-content;
}

hr.solid-white {
    border-top: 2px solid #fff;
}

hr.solid-dark {
    border-top: 2px solid #2E2F30;
}

/* .divider path {
    stroke: #fff;
    fill: transparent;
    stroke-width: 4px;
} */

/* .divider2 path {
    stroke: #2E2F30;
    fill: transparent;
    stroke-width: 4px;
} */

#biopic-outline {
    transform: translate(0px, -150px);
}

/* #profile-pic {
    visibility: hidden;
} */

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
    opacity: 80%;
}

.arrows path {
	stroke: #fff;
	fill: transparent;
	stroke-width: 2.5px;	
}

.bullet-list {
    list-style-type: circle;
    margin-left: 32px;
}

#main-body p {
    margin-bottom: 1rem;
}

.project-image p {
    font-family: 'Public Sans', Arial, Helvetica, sans-serif;
    letter-spacing: 0.2px;
}

.project-text p {
    font-family: 'Public Sans', Arial, Helvetica, sans-serif;
    letter-spacing: 0.2px;
}

.project-text li {
    font-family: 'Public Sans', Arial, Helvetica, sans-serif;
    letter-spacing: 0.2px;
    list-style-type: disc;
}

.project-text a {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

.big-slash {
    visibility: hidden;
}

/* .article-pic {
    visibility: hidden;
    display: none;
} */

.project-button {
    cursor: pointer;
}