/* * {
    margin: 0;
    padding: 0;
} */

body {
    /*justify-content: center;*/
    padding: 1rem 0.5rem;
    font-family: Nunito Sans, sans-serif;
}

div {
    position: relative;
    display: block;
}

/* .chart-label {
    font-size: 1em;
} */

.axis {
    opacity: 0.4;
}

.axis line {
    display: none;
}

.axis path {
    display: none;
}

.axis-label {
    text-anchor: end;
    font-size: 0.7em;
    text-transform: uppercase;
    opacity: 0.8;
}

.source-label {
    text-anchor: start;
    font-size: 0.8em;
    opacity: 0.5;
}

.data-label {
    font-size: 1.4em;
    font-weight: 700;
}

.info-label {
    font-size: 0.8em;
}

.percent-label {
    font-size: 1em;
    text-anchor: start;
    transform: translateY(-6px);
}

.percent-label-2 {
    font-size: 1em;
    text-anchor: start;
    transform: translateY(-66px);
}

.label {
    opacity: 0.8;
    text-anchor: end;
    font-size: .8em;
}

.amount {
    font-size: .9em;
}

.bg {
    fill: black;
    fill-opacity: 0.7;
    mix-blend-mode: multiply;
}
