* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --mainGray: #555;
  --secondGray: #777;
  --mainVisuals: #008b8b;
}

body {
  color: var(--mainGray);
  font-family: "Inter", sans-serif;
  margin: 5em;
}

.wrapper {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: auto 1fr auto; */
  grid-gap: 1em;
  /* justify-items: stretch;
    align-items: stretch; */
}

header {
  grid-column: 1/3;
  max-width: 700px;
  padding: 0 0 5em 0;
}

h1 {
  font-size: 40px;
  padding-bottom: 20px;
}

header p {
  line-height: 1.5em;
}

.header-link a {
  color: #ffffff;
  text-decoration: none;
}

#charts {
  display: grid;
  grid-template-columns: 270px 2fr;
  /* grid-auto-columns: minmax(200px, auto); */
  grid-gap: 5em;
  /* justify-items: stretch;
    align-items: stretch; */
  overflow: hidden;
}

#inputs {
  overflow: auto;
  /* display: inline-block;
    width: 400px; */
  /* margin-bottom: 80px; */
}

#inputs p {
  padding: 0 0 20px 0;
}

#observablehq-selectCell-123be02a {
  /* width: 400px; */
}

/* #inputs button {
  padding: 0.5em 0.75em;
  background-color: var(--secondGray);
  color: #fff;
  margin-right: 10px;
  border: none;
  border-radius: 20px;
} */

#observablehq-buttons-123be02a {
  /* width: 200px; */
  padding-top: 20px;
}

.viz {
  /* overflow-y: scroll; */
  overflow: auto;
}

.map {
  cursor: pointer;
}

#observablehq-donutCharts-123be02a {
  grid-column: 2;
  display: block;
  max-width: 850px;
  /* margin: 60px auto 0 auto;
    padding-bottom: 50px; */
}

.text {
  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
}

.container {
  padding: 10px;
}

.map {
  cursor: pointer;
}

.alerts-text {
  color: #333;
  font-size: 0.75rem;
  line-height: 0.9rem;
}

.tooltip {
  box-sizing: border-box;
  position: absolute;
  display: none;
  top: 0;
  left: -100000000px;
  padding: 6px 10px;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  color: #333;
  background-color: #fff;
  border: 2px solid rgb(239, 239, 239);
  border-radius: 0.5rem;
  pointer-events: none;
  z-index: 1;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
}
.tooltip p {
  margin: 0;
}

.donutChart {
  font-family: "Inter", sans-serif;
}

.donutName {
  font-family: "Inter", sans-serif;
  fill: #555555;
  /* cursor: pointer; */
}
/*.donutName:hover {
  text-decoration: underline;
  text-decoration-thickness: 200%;
} */

.oi-ec050e-input option {
  font-size: 0.8rem;
}

.label {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding-bottom: 0.2rem;
}

button {
  border: none;
  padding: 0.3rem 0.55rem 0.3rem 0.55rem;
  border-radius: 0.5rem;
  letter-spacing: 0.25px;
}

.theme-adb > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
}

.theme-adb > div > div {
  margin: 0.25rem 0 0.25rem 0;
}

.theme-adb form {
  width: auto;
}

.alert {
  font-weight: bold;
  color: #eb5944;
}

.inclusion p {
  margin: 0 0 0.5rem 0;
  font-family: "Inter", sans-serif;
  font-size: 0.85rem;
}

.oi-ec050e button {
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

.inclusion-btns > .oi-ec050e button:nth-child(1) {
  background-color: #37989850;
}
.inclusion-btns > .oi-ec050e button:nth-child(2) {
  background-color: #ffd70070;
}
.inclusion-btns > .oi-ec050e button:nth-child(3) {
  background-color: #ffa03f70;
}
.inclusion-btns > .oi-ec050e button:nth-child(4) {
  background-color: #eb594470;
}

button:hover {
  filter: brightness(0.95) !important;
}

button:active {
  filter: brightness(0.9) !important;
}

footer {
  grid-row: 4;
  /* padding: 50px 50px 50px 50px; */
  font-size: 14px;
  background-color: rgb(236, 236, 236);
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

#data {
  /* padding-top: 30px;
    text-align: center; */
  font-size: 13px;
}
